@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  box-sizing: border-box;
}




#titleHeader,
.titleHeader {
  display: none;
}

#addCardForm {
  margin: 0;
  overflow: auto !important;
}

#walletSelection {
  border: 0;
  background: none;
}

#paymentSummary,
.paymentSummary {
  display: none;
}

.cardBody {
  margin-bottom: 20px;
}

.cardBody .creditCardIcons {
  height: 26px;
  margin: 0;
  margin-right: 10px;
}

.holder.cardNumberHolder {
  margin-bottom: 25px;
}

.inputContainer,
.holder.cardCvCHolder {
  background: none;
  border: 0;
  padding: 0;
  height: auto;
  margin-bottom: 20px;
}

.inputContainer.active,
.inputContainer.activesimulate {
  border: 0;
}

.inputContainer .labelContainer {
  position: initial;
  margin: 0 0 8px !important;
}

.inputContainer.valid::after {
  right: 10px;
  top: 37px;
}

.inputContainer.error::after,
.inputContainer.error::before {
  right: 10px;
  top: 40px;
}

.inputContainer label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
}

.inputContainer label.placeHolderLabel {
  display: none;
}

.inputContainer input,
.inputContainer.filled input,
.instrumentInfoHolder .instrumentNumber {
  display: block;
  border: 0.5px solid #b7afa2;
  border-radius: 0;
  padding: 10px;
  height: 40px;
  line-height: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #231f20;
}

.recaptchaContainer {
  margin-top: 4px;
}

.cardCvCHolder .cvcInfoLink {
  display: none;
}

.instrument .buttonHolder,
.instrument.saved .buttonHolder {
  position: static;
  width: auto;
  margin: -20px;
  margin-top: auto;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.14);
  padding: 15px 0 0 !important;
}

.instrument.saved .buttonHolder .commandButton,
.instrument.saved .buttonHolder .commandButton:hover,
.commandButton,
.commandButton:hover,
button.commandButton,
button.commandButton:hover,
.mobileclose,
.mobileclose:hover {
  width: 220px;
  margin: 0 auto;
  background-color: #00703c;
  border-radius: 22px;
  overflow: hidden;
  border: 0;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 44px;
  line-height: 1;
  font-weight: 700;
}

