@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 100% !important;
  overflow-y: visible !important;
  overflow-x: hidden;
}


#titleHeader,
.titleHeader {
  display: none;
}

#addCardForm {
  margin: 0;
  overflow: auto !important;
}

#walletSelection {
  border: 0;
  background: none;
}

#paymentSummary,
.paymentSummary {
  display: none;
}


.paymentBody.pageVisible {
  overflow: visible !important;
}

.instrument .content,
.instrument .contentSimplified {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.instrumentPopupContent,
.instrument:not(.saved) .content {
  margin: 0;
  padding: 20px;
  background: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.instrument.active:not(.saved) {
  background: none;
}

.paymentBody.pageVisible {
  overflow-x: hidden !important;
}

.walletHeader {
  display: none;
}

.cardLogoHolder {
  margin-bottom: 20px;
}

.cardLogoHolder .cardLogo {
  height: 26px;
  margin: 0;
  margin-right: 10px;
}

.instrumentPopupHeader {
  background: none;
  border: 0;
  padding: 20px 20px 0;
}

.instrumentInfoHolder .expDate,
.instrumentInfoHolder .giftCardBalance {
  display: none;
}

.instrumentInfoHolder .instrumentLogoHolder {
  margin-bottom: 10px;
}

.instrumentInfoHolder .instrumentLogoHolder img {
  height: 26px;
}

.cardBody {
  margin-bottom: 20px;
}

.cardBody .creditCardIcons {
  height: 26px;
  margin: 0;
  margin-right: 10px;
}

.holder.cardNumberHolder {
  margin-bottom: 25px;
}

.inputContainer,
.holder.cardCvCHolder {
  background: none;
  border: 0;
  padding: 0;
  height: auto;
  margin-top: 20px;
}

.inputContainer.active,
.inputContainer.activesimulate {
  border: 0;
}

.inputContainer .labelContainer {
  position: initial;
  margin: 0 0 8px !important;
}

.inputContainer.valid::after {
  right: 10px;
  top: 37px;
}

.inputContainer.error::after,
.inputContainer.error::before {
  right: 10px;
  top: 40px;
}

.inputContainer label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
}

.inputContainer label.placeHolderLabel {
  display: none;
}

.inputContainer input,
.inputContainer.filled input,
.instrumentInfoHolder .instrumentNumber {
  display: block;
  border: 0.5px solid #b7afa2;
  border-radius: 0;
  padding: 10px;
  height: 40px;
  line-height: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #231f20;
}

.cardCvCHolder .cvcInfoLink {
  display: none;
}


.recaptchaContainer {
  margin-top: 4px;
  margin-bottom: 64px;
}

.buttonHolder {
  margin: 0 !important;
  flex: 1;
}

.commandButton {
  visibility: hidden !important;
  height: 80px !important;
  line-height: 44px !important;
}

.commandButton:after {
  visibility: visible !important;
  position: absolute !important;
  left: 80px;
  right: 80px;
  font-weight: 700 !important;
  height: 44px;
  bottom: -150px;
  font-size: 12px;
  text-transform: uppercase;
  color: white !important;
  letter-spacing: 1px;
  border-radius: 22px;
  background-color:  #00703c !important;
  content: "SUBMIT" !important;
}

.buttonHolder {
  display: block;
  position: absolute;
  bottom: -210px;
  width: 100%;
  height: 120px;
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.14);
  padding-top: 35px;
  z-index: -1;
}