@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* * {
  box-sizing: border-box;
} */

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 100% !important;
}

#paymentBodyWrapper
.paymentBodyWrapper {
  height: 100% !important;
}
/* #titleHeader,
.titleHeader {
  display: none;
}

#paymentSummary,
.paymentSummary {
  display: none;
} */

/* .cardBody {
  margin-bottom: 20px;
} */

/* .cardBody .creditCardIcons {
  height: 26px;
  margin: 0;
  margin-right: 10px;
} */


/* .inputContainer,
.holder.cardCvCHolder {
  background: none;
  border: 0;
  padding: 0;
  height: auto;
  margin-bottom: 20px;
}

.inputContainer.active,
.inputContainer.activesimulate {
  border: 0;
} */
/* 
.inputContainer .labelContainer {
  position: initial;
  margin: 0 0 8px !important;
}

.inputContainer.valid::after {
  right: 10px;
  top: 37px;
}

.inputContainer.error::after,
.inputContainer.error::before {
  right: 10px;
  top: 40px;
}

.inputContainer label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
}

.inputContainer label.placeHolderLabel {
  display: none;
}

.inputContainer input,
.inputContainer.filled input,
.instrumentInfoHolder .instrumentNumber {
  display: block;
  border: 0.5px solid #b7afa2;
  border-radius: 0;
  padding: 10px;
  height: 40px;
  line-height: 20px;
  box-sizing: border-box;
  font-size: 14px;
  color: #231f20;
}

.instrumentInfoHolder .instrumentNumber {
  background: #f3f3f3;
  color: #6d6d6d;
}

.cardCvCHolder .cvcInfoLink {
  display: none;
} */

/* .recaptchaContainer {
  margin-top: 4px;
  margin-bottom: 74px;
} */

/* accordionButtonWide
commandButton */